/*CSS Style*/

*{
	padding: 0;
	margin: 0;
}

html, body{
	font-family: 'Lato', sans-serif;
	height: 100%;
}

/*Main Nav*/

nav{
	background-color: #000500;
	height: 50px;
	position: fixed;
	width: 100%;
	z-index: 999;
	border-bottom: 2px solid #1af90e;

}

#mainMenu >li{
	display: inline;
}

nav a{
	color: #1af90e;
	text-decoration: none;
}

#navContainer{
	width: 80%;
	margin: 0px auto;
}

#logo{
	float: left;
	width: 150px;
	height: 30px;
	text-align: center;
	display: table;
}


#mainMenu{
	float: right;
	height: 50px;
	display: table;
}

#mainMenu li{
	display: table-cell;
	vertical-align: middle;
	padding: 0px 10px;
}

#mainMenu > li:hover{
	background-color: #11abc6;
}

/*Header*/

header{
	background-color: #3b3b3d;
	height: 100%;
	width: 100%;

	background-image: url(../img/sfNight.jpg);
	background-position: center center;
	background-repeat: no-repeat;

	color: #fff;
	text-align: center;
	display: table;

}

#title{
	display: table-cell;
	font-size: 24px;
	vertical-align: middle;
}

#title h1{
	font-weight: 200;
}

#mainTitle{
	background-color: rgba(0,0,0,0.5);
	width: 60%;
	margin: 0px auto;
	padding: 100px 0px;

}

.button{
	background-color: #0C131B;
	border: 2px solid #1af90e;	
	color: #1af90e;
	text-decoration: none;
	font-size: 18px;
	padding: 20px;
	position: relative;
	top: 20px;
}

.button:hover{
	background-color: #11abc6;
}

/*End of header*/



/*ToolBar*/
#toolBar{
	background-color: #05315d;
	color: #fff;
	height: 50px;
	margin: 5px 0px;
}

/*Main Content*/

#mainContent{
	height: 1000px;
	overflow: scroll;
}

#mainContent > aside{

	color: black;
	height: 100%;
	float: left;
	width: 20%;
	border-right: 5px solid #fff;
	box-sizing: border-box;
}


#mainContent >main{
	background-color: #F8F8F8;
	color: #373737;
	height: 100%;
	float: right;
	width: 80%;

}

/*Side menu*/

aside a{
	color: #fff;
	text-decoration: none;
}

aside ul{
	background-color: #000500;
	list-style: none;

}

aside li{
	padding: 10px 20px;
	border-width: 2px 0px 0px 0px 0px;
	border-style: solid;
	border-color: #f8f8f8;
}

aside h2{
	text-align: center;
}

aside li:hover{
	background-color: #11abc6;
}


/*Article*/

main article{
	height: 25%;
	padding: 50px 0px;

}

article .articleImg{
	float: left;
	width: 30%;
	height: 100%;
	background-color: grey;
}

.articleImg img{
	width: 100%;
	object-fit: contain;

}

.articleContent{
	float: right;
	width: 70%;
	height: 100%;
	padding: 20px;
	box-sizing: border-box;

}


.articleContent p{
	padding: 20px 20px;
}

/*Footer*/

footer{
	background-color: #000500;
	color: #fff;
	height: 100px;
	margin-top: 5px;
	display: table;
	width: 100%;
}

#copyRight{
	text-align: center;
	font-size: 12px;
	display: table-cell;
	vertical-align: middle;
}

#copyRight a{
	color: #11abc6;
	text-decoration: none;
}

/*Media Queries*/

@media screen and (max-width: 750px){


	#mainContent{
		height: auto;
	}

	#mainContent > aside{
		float: none;
		width: 100%;
	}

	aside li{
		text-align: center;
	}

	#mainContent > main{
		float: none;
		width: 100%;
		height: auto;
	}

	article .articleContent{
		float: none;
		width: 100%;
		height: auto;
	}
}

